
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="copy-wrap">
			<p>© 2021 Transmilk</p>
			<p>Все права защищены</p>
		</div>
		<div class="menu-wrap">
			<ul>
				<li><a href="">Компания</a></li>
				<li><a href="">Транспорт</a></li>
				<li><a href="">Водители</a></li>
				<li><a href="">Нам доверяют</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
		</div>
		<div class="contacts-wrap">
			<div class="copy-wrap">
				<p>© 2021 Transmilk</p>
				<p>Все права защищены</p>
			</div>
			<div class="phone-wrap">
				<a href="tel:89024741000" class="link-phone">+7 902 474 10 00</a>
			</div>
			<div class="email-wrap">
				<a href="mailto:info@transmilk.com" class="link-email">info@transmilk.com</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-phone.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-wa.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
		</div>
	</div>
	<a href="" class="btn-action-ico ico-arrow ico-arrow-up js-btn-up"></a>
</footer>
<!-- /footer -->

<div id="popup-callback" class="popup-box">
	<div class="popup-title-wrap">
		<div class="h3-title">Связаться с нами</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<label>Ваше имя:</label>
				<input type="text" class="form-input">
			</div>
			<div class="frm-row">
				<label>E-mail:</label>
				<input type="email" class="form-input">
			</div>
			<div class="frm-row">
				<label>Номер телефона:</label>
				<input type="tel" class="form-input">
			</div>
			<div class="frm-row">
				<label>Ваш комментарий:</label>
				<textarea class="form-input"></textarea>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Связаться с нами" class="btn">
			</div>
		</form>
	</div>
</div>
<div id="popup-order" class="popup-box">
	<div class="popup-title-wrap">
		<div class="h3-title">Заказать услугу</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<label>Ваше имя:</label>
				<input type="text" class="form-input">
			</div>
			<div class="frm-row">
				<label>E-mail:</label>
				<input type="email" class="form-input">
			</div>
			<div class="frm-row">
				<label>Номер телефона:</label>
				<input type="tel" class="form-input">
			</div>
			<div class="frm-row">
				<label>Опишите что вас интересует:</label>
				<textarea class="form-input"></textarea>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Связаться с нами" class="btn">
			</div>
		</form>
	</div>
</div>
<div id="popup-vacancy" class="popup-box">
	<div class="popup-title-wrap">
		<div class="h3-title">Стать водителем</div>
	</div>
	<div class="popup-content-wrap">
		<form action="/" class="frm-popup">
			<div class="frm-row">
				<label>Ваше имя:</label>
				<input type="text" class="form-input">
			</div>
			<div class="frm-row">
				<label>E-mail:</label>
				<input type="email" class="form-input">
			</div>
			<div class="frm-row">
				<label>Номер телефона:</label>
				<input type="tel" class="form-input">
			</div>
			<div class="frm-row">
				<label>Ваш комментарий:</label>
				<textarea class="form-input"></textarea>
			</div>
			<div class="frm-row-submit">
				<input type="submit" value="Связаться с нами" class="btn">
			</div>
		</form>
	</div>
</div>